[submodule "case"]
	path = case
	url = git@github.com:whisper-language/whisper-language-test.git
[submodule "benchmark"]
	path = benchmark
	url = git@github.com:whisper-language/whisper-language-benchmark.git
[submodule "whisper-java"]
	path = whisper-java
	url = git@github.com:whisper-language/whisper-java.git
[submodule "whisper-csharp"]
	path = whisper-csharp
	url = git@github.com:whisper-language/whisper-csharp.git
[submodule "whisper-dart"]
	path = whisper-dart
	url = git@github.com:whisper-language/whisper-dart.git
[submodule "whisper-swift"]
	path = whisper-swift
	url = git@github.com:whisper-language/whisper-swift.git
[submodule "whisper-grammar"]
	path = whisper-grammar
	url = git@github.com:whisper-language/whisper-grammar.git
[submodule "whisper-js"]
	path = whisper-js
	url = git@github.com:whisper-language/whisper-js.git
[submodule "whisper-ts"]
	path = whisper-ts
	url = git@github.com:whisper-language/whisper-ts.git
