[submodule "case"]
	path = case
	url = git@github.com:whisper-language/whisper-language-test.git
[submodule "benchmark"]
	path = benchmark
	url = git@github.com:whisper-language/whisper-language-benchmark.git
[submodule "whisper-java"]
	path = whisper-java
	url = git@github.com:whisper-language/whisper-java.git
